<link rel="stylesheet" href="css/rules.css">

<h2>QUp Gamification - Rules</h2>
<h4><li>Logwork (Áp dụng cho 4 Boards: SL, KAN, QQA, QS)</li></h4>
<ul>&#8226; 1 min = 1 point &#10003</ul>
<ul>&#8226; 1 lần logwork tối đa 6h, nếu logwork nhiều hơn thì cũng chỉ được tính 6h = 360 points => Nên chia thành nhiều sub-tasks nhỏ &#10003</ul>
<ul>&#8226; Một issue có thể logwork nhiều lần, vd 10h AM logwork 2 tiếng, giờ muốn logwork thêm 1 tiếng nữa thì phải đợi qua 11h AM thì 1 tiếng logwork đó mới được tính - Nếu logwork 1 tiếng vào lúc 10h30 thì chỉ được tính 30 phút mà thôi</ul>
<ul>&#8226; Một issue có thể có nhiều người cùng logwork, và logwork của mỗi người được tính độc lập với nhau &#10003</ul>
<h4><li>Issues Status (Áp dụng cho Boards: SL)</li></h4>
<ul>&#8226; Issues được chuyển sang status "Test" thì user Dev sẽ được 200 points + nhận random 1 item (Chỉ được tính 1 lần, nếu từ status Test bị trả về Open sau đó chuyển sang Test lại thì không được cộng points và nhận item nữa) &#10003</ul>
<ul>&#8226; Issues được chuyển sang status "Done" thì user Tester sẽ được 200 points + nhận random 1 items (Cũng chỉ được tính 1 lần như trên) &#10003</ul>
<ul>&#8226; Issues chuyển status chỉ được tính points, items khi có logwork => Logwork trước khi kéo status</ul>

<h4><li>Missions</li></h4>
