@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  align-items: center;
  display: grid;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 10px;
}

.card h2 {
  margin: 0;
}

.card .title {
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}

.card .desc {
  padding: 5px 0 0 0;
  font-size: 12px;
}

.card .actions {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  padding: 5px 0 0 0;
}

.card img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #2244f0;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 5px;
  left: 5px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 15px 20px 15px 0px;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 25px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: orange;
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: .5s;
}
button:hover {
  color: #4CAF50;
  transform: rotate(22deg);
}
